<mat-toolbar>
    <span>Registration</span>
</mat-toolbar>
<mat-card>
    <form [formGroup]="form" class="reg-form">
    <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" required />              
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName" required />               
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email Address" formControlName="email" required />              
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" required />
            </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type ="submit" [disabled]="!form.valid" (click)="register()" mat-raised-button  color="primary">Register</button>
    </mat-card-actions>
</form>

</mat-card>
